.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 253, 250);
  height: 300px;
  border-radius: 20px;
  background-image: url("./background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(34, 34, 34, 0.3) 0px 19px 38px,
    rgba(41, 41, 41, 0.22) 0px 15px 12px;

  h1 {
    margin-top: 0;
    color: rgb(58, 50, 99);
  }
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;

    input {
      border-radius: 80px;
      border: none;

      height: 40px;
      box-shadow: rgba(67, 117, 121, 0.25) 0px 6px 12px -2px,
        rgba(67, 117, 121, 0.3) 0px 3px 7px -3px;
      text-align: center;
      font-size: 16px;
      color: lightgray;
    }
  }
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
