.main {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  color: rgb(233, 247, 255);
  .logo {
    display: flex;
    gap: 10px;
    h1 {
      margin: 0;
    }
    .img {
      width: 50px;

      transition: all 0.4s ease-in-out;
      animation: float 6s ease-in-out infinite;
    }
    @keyframes float {
      0% {
        transform: translatey(0px);
        filter: drop-shadow(8px 8px 4px rgba(27, 27, 27, 0.418));
      }
      50% {
        transform: translatey(-10px);
        filter: drop-shadow(4px 4px 2px rgba(27, 27, 27, 0.418));
      }
      100% {
        transform: translatey(0px);
        filter: drop-shadow(8px 8px 4px rgba(27, 27, 27, 0.418));
      }
    }
  }
  .info {
    display: flex;
    gap: 30px;
    div {
      display: flex;
      gap: 5px;
      font-size: 20px;
      .dinamicName {
        color: rgb(166, 204, 255);
      }
    }
    button {
      background: none;
      border: none;
      .logoutImg {
        width: 50px;
      }
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
